#include "stm32mp15-u-boot.dtsi"

/* USER CODE BEGIN includes */
#include <dt-bindings/clock/stm32mp1-clksrc.h>
/* USER CODE END includes */

/{

	/* USER CODE BEGIN root */

	aliases{
		i2c3 = &i2c4;
		gpio26 = &stmfx_pinctrl;
		i2c1 = &i2c2;
		i2c4 = &i2c5;
		pinctrl2 = &stmfx_pinctrl;
		spi0 = &qspi;
		usb0 = &usbotg_hs;
	};

	config{
		u-boot,boot-led = "heartbeat";
		u-boot,error-led = "error";
		u-boot,mmc-env-partition = "u-boot-env";
		st,fastboot-gpios = <&gpioa 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		st,stm32prog-gpios = <&gpioa 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
	};

	led{

		led-red{
			label = "error";
			gpios = <&gpioa 13 GPIO_ACTIVE_LOW>;
			default-state = "off";
			status = "okay";
		};
	};

#if defined(CONFIG_STM32MP15x_STM32IMAGE) || defined(CONFIG_SPL)

	config{
		u-boot,mmc-env-partition = "ssbl";
	};
#endif
	/* USER CODE END root */
};

/* USER CODE BEGIN addons */

&uart4{
	u-boot,dm-pre-reloc;
};
/* USER CODE END addons */
